//this is a partial file means it will import another file
// Colors
$primary:  hsl(233, 26%, 24%);
$primary-hover: #ffffff;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition 
$smooth: all .3s ease-in-out;